.banner-wrapper(style="background-image: url(static/img/bg-header.png)")
  .container
    .banner
      h1.banner__header Grow Your business with Merkury
      p.banner__subtext Your partner in crime!
      button.banner__button Get started
      .banner__img-wrap
        img.banner__app-interface(src="static/img/dashboard-header.png", alt="app-interface")