.description-wrapper
  .template
    h4.template__heading Powerfull PSD Template
    p.template__text  Lorem ipsum elp iste natus s sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et  voluptatem.
  .dashboard
    .dashboard__image
      img(src="static/img/screen-mockup.png" alt="dashboard")
    .tip.tip_one
      .tip__eclipse
        img(src="static/img/eclipse.png", alt="")
      .tip__title Clean &#38; modern layout
      .tip__text.tip__text_one Lorem isor inciddsdsds dsdsdsdsidunt ut labore et dolore magna aliqua.
    .tip.tip_two
      .tip__eclipse
        img(src="static/img/eclipse.png", alt="")
      .tip__title Easy to customize
      .tip__text.tip__text_two Lorem isor inciddsdsds dsdsdsdsidunt ut labore et dolore magna aliqua.