.features-wrapper
  .feature
    .feature__image
      img(src="static/img/workflow.png" alt="equals")
    h2.feature__header Manage Your Workflow
    p.feature__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    button.feature__button See more
  .feature
    .feature__image
      img(src="static/img/analitics.png" alt="graph")
    h2.feature__header Analytics &#38; insights
    p.feature__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    button.feature__button See more
  .feature
    .feature__image
      img(src="static/img/calendar.png" alt="calendar")
    h2.feature__header Orginize Your Deadlines
    p.feature__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
    button.feature__button See more