.footer-wrapper
  .container
    nav.navigation-footer
      .rights-reserved © 2016 Merkury All Right Reserved 
      ul.menu-footer
        li.menu-footer__item: a.menu-footer__link(href="#") Pricing
        li.menu-footer__item: a.menu-footer__link(href="#") Pricing
        li.menu-footer__item: a.menu-footer__link(href="#") Pricing
      ul.social-media
        .social-media__item: i.fab.fa-facebook-f
        .social-media__item: i.fab.fa-twitter
        .social-media__item: i.fab.fa-google-plus-g