.mobile-app-wrapper
  .container
    .you-need
      h2.you-need__header All You need is a browser!
      .you-need__content
        p.you-need__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        p.you-need__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        ul.you-need-menu
          li.you-need-menu__item Lorem ipsum dolor sit amet consectetur
          li.you-need-menu__item Ut enim ad minim veniam quis nostrud
  .tablets
    img.tablets__image(src="static/img/app-photo.png", alt="app-photo")