.pricing-wrapper
  h4.pricing__headline Check our pricing!
  .prices
    .price
      .price__title Bronze plan
      .price__number 
        span.price__dollar $
        | 19
        span.price__per /mon
      ul.price__list.price-list
        li.price-list__item.price-list__item--enabled Lorem ipsum dolor sit am
        li.price-list__item.price-list__item--enabled Lorem ipsum dolor sit am
        li.price-list__item.price-list__item--disabled Lorem ipsum dolor sit am
        li.price-list__item.price-list__item--disabled Lorem ipsum dolor sit am
    .price
      .price__title Silver plan
      .price__number 
        span.price__dollar $
        | 49
        span.price__per /mon
      ul.price__list.price-list
        li.price-list__item.price-list__item--enabled Lorem ipsum dolor sit am
        li.price-list__item.price-list__item--enabled Lorem ipsum dolor sit am
        li.price-list__item.price-list__item--enabled Lorem ipsum dolor sit am
        li.price-list__item.price-list__item--disabled Lorem ipsum dolor sit am
    .price
      .price__title Gold plan
      .price__number 
        span.price__dollar $
        | 99
        span.price__per /mon
      ul.price__list.price-list
        li.price-list__item.price-list__item--enabled Lorem ipsum dolor sit am
        li.price-list__item.price-list__item--enabled Lorem ipsum dolor sit am
        li.price-list__item.price-list__item--enabled Lorem ipsum dolor sit am
        li.price-list__item.price-list__item--enabled Lorem ipsum dolor sit am
  p.price-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
  button.price-join Join now!